 .searchInput {
  background-color: #b5aa9d;
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  padding: 0 30px;
}
.search input {
  background-color: #dcdbda;
  border: solid 1px grey;
  border-radius: 2px;
  font-size: 12px;
  padding: 8px;
  height: 15px;
  width: 200px;
  border-radius: 6px;
}

.searchButton {
  background-color: #dcdbda;
  border: none;
  outline: none;
  margin-left: -33px;
}

input:focus {
  outline: none;
}
