.ProjectListWrapper {
  min-width: 305px;
  padding: 1rem;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.Menu li {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  list-style-type: none;
  height: 2rem;
  cursor: pointer;
}

.Menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Menu li:hover {
  background-color: #eaeaea;
}

.ImgWrapper img {
  width: 200px;
  height: 200px;
}

.ImgWrapper {
  display: flex;
  justify-content: center;
}

.ProjectList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
