

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.Menu li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  list-style-type: none;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li:hover {
  background-color: #eaeaea;
}
